

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#LoginId html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
    }

.login-container {
    display: flex;
    align-items: center;
  }
  
  .login-form-container {
    flex: 1;
    padding: 20px;
    height: 600px;
  }

  .login-site{
    text-align: center;
  }

  .login-site h1 {
    font-size: 4em;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-label {
    margin-bottom: 5px;
  }
  
  .login-input {
    padding: 8px;
    margin: 10px 0 10px 0;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
  }
  
  .login-button {
    padding: 10px 15px;
    width: 25%;
    background-color: rgb(221, 106, 65);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto 10px;
    text-decoration: none;

  }

  .register-button {
    padding: 10px 15px;
    background-color: rgb(221, 106, 65);
    width: 25%;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto 10px;
    text-decoration: none;
  }

  .link-style {
    text-decoration: none;
    color: rgb(192, 96, 61);
  }
  
  .login-button:hover, .register-button:hover {
    background-color: rgb(192, 96, 61);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .login-animation {
    animation: fadeIn 1s ease forwards;
  }

  .login-image-container{
    position: relative;
    max-width: 50%;
  }

  .login-image-container img{
    filter: brightness(35%);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.534), 0 20px 50px 0 rgba(0, 0, 0, 0.705);
  }

  .login-image-container h1 {
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px #000000;
    border: #000000;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  