
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#uniqe-container3 html, #uniqe-container3 body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-container {
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-form {
  text-align: center;
}

.registration-form h2 {
  font-size: 4em;
}

.form-group {
  padding: 10px;
}

.form-group label {
  display: block;
}

.form-group input {
  display: block;
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding: 5px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}

.link-style-register{
  text-decoration: none;
  color: rgb(192, 96, 61);
}
