@font-face {
    font-family: 'Inter - semi bold';
    src: url('../fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter - medium';
    src: url('../fonts/Inter/static/Inter-Medium.ttf') format('truetype');
  }

  @font-face {
  font-family: "Fira Code";
  src: url("../fonts/Fira_Code/static/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/Fira_Code/static/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/Fira_Code/static/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --code-font: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
